<div class="row">
    <form 
    class="col s12"
    action="/protected/addCourse"
    method="POST"
    >
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" required name="title">
        <label for="email">Название курса</label>
      </div>
      <div class="input-field col s12">
        <input type="text" class="validate" required name="desc">
        <label for="password">Описание курса</label>
      </div>
    </div>

    <button class="waves-effect waves-light btn btn-primary">Создать</button>
  </form>
</div>